.board {
    position: relative;
    text-align: center;
    color: white;
}

#one {
    position: absolute;
    bottom: 8px;
    left: 370px;
}

#two {
    position: absolute;
    bottom: 8px;
    left: 440px;
}

#three {
    position: absolute;
    bottom: 8px;
    left: 510px;
}

#four {
    position: absolute;
    bottom: 8px;
    left: 580px;
}

#five {
    position: absolute;
    bottom: 8px;
    left: 650px;
}

#six {
    position: absolute;
    bottom: 8px;
    left: 720px;
}

#seven {
    position: absolute;
    bottom: 8px;
    left: 790px;
}

#eight {
    position: absolute;
    bottom: 8px;
    left: 860px;
}

#nine {
    position: absolute;
    bottom: 8px;
    left: 930px;
}

#ten {
    position: absolute;
    bottom: 8px;
    left: 1000px;
}

#eleven {
    position: absolute;
    bottom: 50px;
    left: 1000px;

}

#twelve {
    position: absolute;
    bottom: 50px;
    left: 930px;
}

#thirteen {
    position: absolute;
    bottom: 50px;
    left: 860px;
}

#fourteen {
    position: absolute;
    bottom: 50px;
    left: 790px;
}

#fifteen {
    position: absolute;
    bottom: 50px;
    left: 650px;
}

#sixteen {
    position: absolute;
    bottom: 50px;
    left: 720px;
}

#seventeen {
    position: absolute;
    bottom: 50px;
    left: 580px;
}

#eighteen {
    position: absolute;
    bottom: 50px;
    left: 510px;
}

#nineteen {
    position: absolute;
    bottom: 50px;
    left: 440px;
}

#twenty {
    position: absolute;
    bottom: 50px;
    left: 370px;
}

#twentyOne {
    position: absolute;
    bottom: 100px;
    left: 370px;
}

#twentyTwo {
    position: absolute;
    bottom: 100px;
    left: 440px;
}

#twentyThree {
    position: absolute;
    bottom: 100px;
    left: 510px;
}

#twentyFour {
    position: absolute;
    bottom: 100px;
    left: 580px;
}

#twentyFive {
    position: absolute;
    bottom: 100px;
    left: 650px;
}

#twentySix {
    position: absolute;
    bottom: 100px;
    left: 720px;
}

#twentySeven {
    position: absolute;
    bottom: 100px;
    left: 790px;
}

#twentyEight {
    position: absolute;
    bottom: 100px;
    left: 860px;
}

#twentyNine {
    position: absolute;
    bottom: 100px;
    left: 930px;
}

#thirty {
    position: absolute;
    bottom: 100px;
    left: 1000px;
}

#thirtyOne {
    position: absolute;
    bottom: 150px;
    left: 1000px;

}

#thirtyTwo {
    position: absolute;
    bottom: 150px;
    left: 930px;
}

#thirtyThree {
    position: absolute;
    bottom: 150px;
    left: 860px;
}

#thirtyFour {
    position: absolute;
    bottom: 150px;
    left: 790px;
}

#thirtyFive {
    position: absolute;
    bottom: 150px;
    left: 650px;
}

#thirtySix {
    position: absolute;
    bottom: 150px;
    left: 720px;
}

#thirtySeven {
    position: absolute;
    bottom: 150px;
    left: 580px;
}

#thirtyEight {
    position: absolute;
    bottom: 150px;
    left: 510px;
}

#thirtyNine {
    position: absolute;
    bottom: 150px;
    left: 440px;
}

#fourty {
    position: absolute;
    bottom: 150px;
    left: 370px;
}

#fourtyOne {
    position: absolute;
    bottom: 200px;
    left: 370px;
}

#fourtyTwo {
    position: absolute;
    bottom: 200px;
    left: 440px;
}

#fourtyThree {
    position: absolute;
    bottom: 200px;
    left: 510px;
}

#fourtyFour {
    position: absolute;
    bottom: 200px;
    left: 580px;
}

#fourtyFive {
    position: absolute;
    bottom: 200px;
    left: 650px;
}

#fourtySix {
    position: absolute;
    bottom: 200px;
    left: 720px;
}

#fourtySeven {
    position: absolute;
    bottom: 200px;
    left: 790px;
}

#fourtyEight {
    position: absolute;
    bottom: 200px;
    left: 860px;
}

#fourtyNine {
    position: absolute;
    bottom: 200px;
    left: 930px;
}

#fifty {
    position: absolute;
    bottom: 200px;
    left: 1000px;
}

#fiftyOne {
    position: absolute;
    bottom: 250px;
    left: 1000px;

}

#fiftyTwo {
    position: absolute;
    bottom: 250px;
    left: 930px;
}

#fiftyThree {
    position: absolute;
    bottom: 250px;
    left: 860px;
}

#fiftyFour {
    position: absolute;
    bottom: 250px;
    left: 790px;
}

#fiftyFive {
    position: absolute;
    bottom: 250px;
    left: 650px;
}

#fiftySix {
    position: absolute;
    bottom: 250px;
    left: 720px;
}

#fiftySeven {
    position: absolute;
    bottom: 250px;
    left: 580px;
}

#fiftyEight {
    position: absolute;
    bottom: 250px;
    left: 510px;
}

#fiftyNine {
    position: absolute;
    bottom: 250px;
    left: 440px;
}

#sixty {
    position: absolute;
    bottom: 250px;
    left: 370px;
}

#sixtyOne {
    position: absolute;
    bottom: 300px;
    left: 370px;
}

#sixtyTwo {
    position: absolute;
    bottom: 300px;
    left: 440px;
}

#sixtyThree {
    position: absolute;
    bottom: 300px;
    left: 510px;
}

#sixtyFour {
    position: absolute;
    bottom: 300px;
    left: 580px;
}

#sixtyFive {
    position: absolute;
    bottom: 300px;
    left: 650px;
}

#sixtySix {
    position: absolute;
    bottom: 300px;
    left: 720px;
}

#sixtySeven {
    position: absolute;
    bottom: 300px;
    left: 790px;
}

#sixtyEight {
    position: absolute;
    bottom: 300px;
    left: 860px;
}

#sixtyNine {
    position: absolute;
    bottom: 300px;
    left: 930px;
}

#seventy {
    position: absolute;
    bottom: 300px;
    left: 1000px;
}

#seventyOne {
    position: absolute;
    bottom: 350px;
    left: 1000px;

}

#seventyTwo {
    position: absolute;
    bottom: 350px;
    left: 930px;
}

#seventyThree {
    position: absolute;
    bottom: 350px;
    left: 860px;
}

#seventyFour {
    position: absolute;
    bottom: 350px;
    left: 790px;
}

#seventyFive {
    position: absolute;
    bottom: 350px;
    left: 650px;
}

#seventySix {
    position: absolute;
    bottom: 350px;
    left: 720px;
}

#seventySeven {
    position: absolute;
    bottom: 350px;
    left: 580px;
}

#seventyEight {
    position: absolute;
    bottom: 350px;
    left: 510px;
}

#seventyNine {
    position: absolute;
    bottom: 350px;
    left: 440px;
}

#eighty {
    position: absolute;
    bottom: 350px;
    left: 370px;
}

#eightyOne {
    position: absolute;
    bottom: 400px;
    left: 370px;
}

#eightyTwo {
    position: absolute;
    bottom: 400px;
    left: 440px;
}

#eightyThree {
    position: absolute;
    bottom: 400px;
    left: 510px;
}

#eightyFour {
    position: absolute;
    bottom: 400px;
    left: 580px;
}

#eightyFive {
    position: absolute;
    bottom: 400px;
    left: 650px;
}

#eightySix {
    position: absolute;
    bottom: 400px;
    left: 720px;
}

#eightySeven {
    position: absolute;
    bottom: 400px;
    left: 790px;
}

#eightyEight {
    position: absolute;
    bottom: 400px;
    left: 860px;
}

#eightyNine {
    position: absolute;
    bottom: 400px;
    left: 930px;
}

#ninety {
    position: absolute;
    bottom: 400px;
    left: 1000px;
}


#ninetyOne {
    position: absolute;
    bottom: 450px;
    left: 1000px;

}

#ninetyTwo {
    position: absolute;
    bottom: 450px;
    left: 930px;
}

#ninetyThree {
    position: absolute;
    bottom: 450px;
    left: 860px;
}

#ninetyFour {
    position: absolute;
    bottom: 450px;
    left: 790px;
}

#ninetyFive {
    position: absolute;
    bottom: 450px;
    left: 650px;
}

#ninetySix {
    position: absolute;
    bottom: 450px;
    left: 720px;
}

#ninetySeven {
    position: absolute;
    bottom: 450px;
    left: 580px;
}

#ninetyEight {
    position: absolute;
    bottom: 450px;
    left: 510px;
}

#ninetyNine {
    position: absolute;
    bottom: 450px;
    left: 440px;
}

#oneHundred {
    position: absolute;
    bottom: 450px;
    left: 370px;
}

#image {
    width: 50%;
    height: 70%;
}

#players {
    height: 40px;
    width: 40px;
}

#diceImg {
    display: block;
    height: 70px;
}