#board {
    position: relative;
    text-align: center;
    color: white;
}

#one {
    position: absolute;
    bottom: 8px;
    left: 360px;
}

#two {
    position: absolute;
    bottom: 8px;
    left: 430px;
}

#three {
    position: absolute;
    bottom: 8px;
    left: 500px;
}

#four {
    position: absolute;
    bottom: 8px;
    left: 570px;
}

#five {
    position: absolute;
    bottom: 8px;
    left: 640px;
}

#six {
    position: absolute;
    bottom: 8px;
    left: 710px;
}

#seven {
    position: absolute;
    bottom: 8px;
    left: 780px;
}

#eight {
    position: absolute;
    bottom: 8px;
    left: 850px;
}

#nine {
    position: absolute;
    bottom: 8px;
    left: 920px;
}

#ten {
    position: absolute;
    bottom: 8px;
    left: 990px;
}

#eleven {
    position: absolute;
    bottom: 50px;
    left: 990px;

}

#twelve {
    position: absolute;
    bottom: 50px;
    left: 920px;
}

#thirteen {
    position: absolute;
    bottom: 50px;
    left: 850px;
}

#fourteen {
    position: absolute;
    bottom: 50px;
    left: 780px;
}

#fifteen {
    position: absolute;
    bottom: 50px;
    left: 640px;
}

#sixteen {
    position: absolute;
    bottom: 50px;
    left: 710px;
}

#seventeen {
    position: absolute;
    bottom: 50px;
    left: 570px;
}

#eighteen {
    position: absolute;
    bottom: 50px;
    left: 500px;
}

#nineteen {
    position: absolute;
    bottom: 50px;
    left: 430px;
}

#twenty {
    position: absolute;
    bottom: 50px;
    left: 360px;
}

#twentyOne {
    position: absolute;
    bottom: 100px;
    left: 360px;
}

#twentyTwo {
    position: absolute;
    bottom: 100px;
    left: 430px;
}

#twentyThree {
    position: absolute;
    bottom: 100px;
    left: 500px;
}

#twentyFour {
    position: absolute;
    bottom: 100px;
    left: 570px;
}

#twentyFive {
    position: absolute;
    bottom: 100px;
    left: 640px;
}

#twentySix {
    position: absolute;
    bottom: 100px;
    left: 710px;
}

#twentySeven {
    position: absolute;
    bottom: 100px;
    left: 780px;
}

#twentyEight {
    position: absolute;
    bottom: 100px;
    left: 850px;
}

#twentyNine {
    position: absolute;
    bottom: 100px;
    left: 920px;
}

#thirty {
    position: absolute;
    bottom: 100px;
    left: 990px;
}


#image {
    width: 50%;
    height: 70%;
}

#players {
    height: 40px;
    width: 40px;
}